



.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 20px;
}

.item {
    color: white;
    text-decoration: none;
    
}

.item .active {
    text-decoration: none;
    color: gold;
    padding: 10px;
}


